
body{
    background:ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yusei Magic', sans-serif;

}
.double {
    zoom: 1.75;
    transform: scale(1.75);
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    margin-bottom: 5px;
  }
.container{
    width: 800px;
    height:1300px;
    background:black;
    margin-top: 35px;
    border: 3px solid;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeButton{
    width:100px;
    height:100px;
    background-color: #ddd;
    border-radius: 100%;
    margin-top: 50px;
    
}
.wrapper{
    display: flex;
    width: 95%;
    background:#eff7e1;
    height: 1000px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:50px;
}
h1{
    font-size: 2.5em;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 700;
}
p{
    margin-top: -20px;
    margin-left: 40px;
    font-style: italic;
    color: #666;
    font-size: 20px;
}
#todo{
    margin-left: 40px;
    width: 300px;
    height:30px;
    font-size: 20px;

}
.pretty-button{
    margin-left: 20px;
    padding: 7px 25px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 100px;

}
.pretty-button:active{
    border-style: none;
}
.pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}
ol{
    margin-left: 100px;
    margin-top: 45px;
    font-size: 30px;
    height: 250px;
}

.list-group-item{
    display: list-item;
    width: 500px;
    padding-left: 7px;
    cursor: pointer;
    
}
.deleteIcon{
    float: right;
    margin-right: 25px;
    color: black;
    cursor: pointer;
    font-style: normal !important;
    font-weight: 900;
    margin-top: 5px;
}
.list-group{
    height: 1000px;
}
.deleteIcon:hover{
    opacity: 0.5;
}
.list-group-item:nth-child(2n){
    background: #ddd;
}
.list-group-item:hover{
    background-color: #ddd;
}
.list-group-item:nth-child(2n):hover{
    background: #bbb;
}
.button{
    width: 190px;
    height: 50px;
    font-size: 17px;
    border-radius: 20px;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 50px;
    padding:20px,25px;
}
.button:hover {
    cursor: pointer;
    opacity: 0.75;
}
.saveList{
    background:#f8dc81;
    color: black !important;
}
.emptyList{
    background:#214151;
}
.clearCompleted{
    background: #a2d0c1;
     color: black !important;
}
.headingWrapper{
    display: flex;
    justify-content: space-between;
   /* border: black solid 1px;*/
    width: 100%;
}
.alert{
    width: 315px;
    height: 55px;
    /*background-color: grey;*/
    margin-top: 15px;
    font-size: 23px;
    text-align: right;
    margin-right: 10px;

}